################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/WebCrawlerCPP/v15
/WebCrawler-Test/Debug
/WebCrawlerCPP/Debug
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
